<a href="https://colab.research.google.com/github/muga01/python_basics/blob/main/Exercise4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TASK- Find interesting stuffs about the data below

data source: https://raw.githubusercontent.com/muga01/python_basics/main/train.csv

In [2]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/muga01/python_basics/main/train.csv')
data.head()

             date_time  deg_C  ...  target_benzene  target_nitrogen_oxides
0  2010-03-10 18:00:00   13.1  ...            12.0                   167.7
1  2010-03-10 19:00:00   13.2  ...             9.9                    98.9
2  2010-03-10 20:00:00   12.6  ...             9.2                   127.1
3  2010-03-10 21:00:00   11.0  ...             9.7                   177.2
4  2010-03-10 22:00:00   11.9  ...             6.4                   121.8

[5 rows x 12 columns]